
## .NET / Visual Studio / VS Code

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Bb]uild/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Core User Secrets & Local Settings
*.env
appsettings.Development.json
appsettings.Local.json

# NuGet Packages
*.nupkg
[Pp]ackages/

BACKEND/BancoProcredit.API/.vs/BancoProcredit.API.slnx/FileContentIndex/162b4a18-544e-46b7-89c2-b3584924ba86.vsidx

BACKEND/BancoProcredit.API/.vs/BancoProcredit.API.slnx/FileContentIndex/30e869c2-9c81-4ecf-91ec-7e821e01f42c.vsidx

BACKEND/BancoProcredit.API/.vs/BancoProcredit.API.slnx/FileContentIndex/775d8821-de18-4efa-84ab-41c46a00c802.vsidx

BACKEND/BancoProcredit.API/.vs/BancoProcredit.API.slnx/FileContentIndex/98d50892-3c1b-4cf1-9b0e-14c1f4e0e33e.vsidx

BACKEND/BancoProcredit.API/.vs/BancoProcredit.API.slnx/FileContentIndex/bacece79-b108-4b0f-87c3-72cba82d2978.vsidx

BACKEND/BancoProcredit.Application/obj/Debug/net10.0/BancoProcredit.Application.AssemblyInfo.cs

BACKEND/BancoProcredit.Application/obj/Debug/net10.0/BancoProcredit.Application.AssemblyInfoInputs.cache

BACKEND/BancoProcredit.Application/obj/Debug/net10.0/BancoProcredit.Application.csproj.AssemblyReference.cache

FRONTEND/banco-procredit-frontend/.vite/deps/_metadata.json

FRONTEND/banco-procredit-frontend/.vite/deps/package.json
